In [2]:
import time
import pandas as pd
import numpy as np

CITY_DATA = { 'chicago': 'chicago.csv',
              'new York': 'new_york_city.csv',
              'washington': 'washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # TO DO: get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    print('Would you like to see data for chicago, new York, or washington?')
    Citys = ['chicago','new York', 'washington']
    city = input().lower()
    while city in Citys:
        break
    else :
        while True:
            print('Please enter city from this [\'chicago\',\'new York\', \'washington\']')
            city = input('Enter city ').lower()
            if city in Citys:
                break
            
    # TO DO: get user input for month (all, january, february, ... , june)
    print('Which month - january, february, march, april, may, june, or all ?')
    Months = ['january', 'february', 'march', 'april','may', 'june', 'all']
    month = input().lower()
    while month in Months :
        break
    else :
        while True :
            print('Please enter month from this [\'january\', \'february\', \'march\', \'april\',\'may\', \'june\',\'all\']')
            month = input('Enter month').lower()
            if month in Months :
                break


    # TO DO: get user input for day of week (all, monday, tuesday, ... sunday)
    print('Which day - monday, tuesday, wednesday, thursday, friday, saturday, sunday, all?')
    Days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'all']
    day = input().lower()
    while day in Days :
        break
    else :
        while True :
            print('Please enter day from this [\'monday\', \'tuesday\', \'wednesday\', \'thursday\',\'friday\', \'saturday\', \'sunday\', \'all\']')
            day = input('Enter day').lower()
            if day in Days :
                break

    print('-'*40)
    return city, month, day


def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['hour'] = df['Start Time'].dt.hour
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1

        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day]

    return df



def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # TO DO: display the most common month
    most_common_month = df['month'].mode()[0]
    print('most common month', most_common_month)

    # TO DO: display the most common day of week
    most_common_day = df['day_of_week'].mode()[0]
    print('most common day',most_common_day)

    # TO DO: display the most common start hour
    most_common_hour = df['hour'].mode()[0]
    print('most common hour', most_common_hour)

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # TO DO: display most commonly used start station
    most_popular_start_station = df['Start Station'].mode()[0]
    print('most popular start station', most_popular_start_station)

    # TO DO: display most commonly used end station
    most_popular_end_station = df['End Station'].mode()[0]
    print('most popular end station', most_popular_end_station)

    # TO DO: display most frequent combination of start station and end station trip
    group_filed = df.groupby(['Start Station', 'End Station'])
    print(group_filed.size().sort_values(ascending = False).head(1))

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # TO DO: display total travel time
    total_travel_time = df['Trip Duration'].sum()
    print('total travel time', total_travel_time)

    # TO DO: display mean travel time
    mean_travel_time = df['Trip Duration'].mean()
    print('mean travel time', mean_travel_time)

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def user_stats(df, city):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # TO DO: Display counts of user types
    counts_of_user_types = df['User Type'].value_counts()
    print('counts of user types', counts_of_user_types)

    # TO DO: Display counts of gender
    if city != 'washington':
        counts_of_gender = df['Gender'].value_counts()
        print('Gender Stats:', counts_of_gender)

    # TO DO: Display earliest, most recent, and most common year of birth
    if city != 'washington':
        most_common_year_of_birth = df['Birth Year'].mode()[0]
        print('most common year of birth',most_common_year_of_birth)
        earliest_year = df['Birth Year'].min()
        print('earliest year ', earliest_year)
        most_recent_year = df['Birth Year'].max()
        print('Most Recent Year:',most_recent_year)
        
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def view_data(df):
    start_time = time.time()
    view_data = input('\nWould you like to view 5 rows of individual trip data? Enter yes or no\n')
    start_loc = 0
    end_loc = 5
    while view_data.lower() == 'yes':
        print(df.iloc[start_loc : end_loc])
        start_loc += 5
        end_loc += 5
        print('-'*40)
        view_data = input("Do you wish to continue?: ").lower()
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)
    
        
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df, city)
        view_data(df)
        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
	main()

Hello! Let's explore some US bikeshare data!
Would you like to see data for chicago, new York, or washington?
chicago
Which month - january, february, march, april, may, june, or all ?
all
Which day - monday, tuesday, wednesday, thursday, friday, saturday, sunday, all?
all
----------------------------------------

Calculating The Most Frequent Times of Travel...

most common month 6
most common day 18
most common hour 17

This took 0.010994434356689453 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

most popular start station Streeter Dr & Grand Ave
most popular end station Streeter Dr & Grand Ave
Start Station              End Station
Lake Shore Dr & Monroe St  Streeter Dr & Grand Ave    854
dtype: int64

This took 0.19066858291625977 seconds.
----------------------------------------

Calculating Trip Duration...

total travel time 280871787
mean travel time 936.23929

This took 0.001997709274291992 seconds.
----------------------------------------

Calculating User Stats...

counts of user types Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64
Gender Stats: Male      181190
Female     57758
Name: Gender, dtype: int64
most common year of birth 1989.0
earliest year  1899.0
Most Recent Year: 2016.0

This took 0.05796551704406738 seconds.
----------------------------------------

Would you like to view 5 rows of individual trip data? Enter yes or no
yes

Would you like to restart? Enter yes or no.
no

In [6]:
import pandas as pd

filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)

# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

# extract hour from the Start Time column to create an hour column
df['hour'] = df['Start Time'].dt.hour

# find the most popular hour
popular_hour = df['hour'].mode()[0]

print('Most Popular Start Hour:', popular_hour)

Most Popular Start Hour: 17

In [8]:
df['hour'] = df['Start Time'].dt.hour
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,hour
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,15
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,18
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,8
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,13
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,14

In [9]:
popular_hour = df['hour'].mode()[0]

print('Most Popular Start Hour:', popular_hour)

Most Popular Start Hour: 17

In [10]:
import pandas as pd

filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)

# print value counts for each user type
user_types = df['User Type'].value_counts()

print(user_types)

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [9]:
import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day
    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1

        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == int(day)]
   
    return df
load_data('chicago', 'june', '4')

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
83,1104777,2017-06-04 12:14:27,2017-06-04 12:39:39,1512,Clark St & Armitage Ave,Lake Shore Dr & Diversey Pkwy,Subscriber,Female,1989.0,6,4
372,1112185,2017-06-04 17:25:40,2017-06-04 17:41:27,947,Lake Shore Dr & North Blvd,McClurg Ct & Illinois St,Subscriber,Female,1967.0,6,4
381,1116581,2017-06-04 22:43:16,2017-06-04 23:16:24,1988,Columbus Dr & Randolph St,Racine Ave & Wrightwood Ave,Subscriber,Female,1977.0,6,4
411,1108600,2017-06-04 14:54:59,2017-06-04 15:01:47,408,Columbus Dr & Randolph St,Dearborn St & Monroe St,Subscriber,Male,1959.0,6,4
507,1104661,2017-06-04 12:08:21,2017-06-04 12:24:33,972,Ashland Ave & Division St,Aberdeen St & Monroe St,Subscriber,Male,1983.0,6,4
...,...,...,...,...,...,...,...,...,...,...,...
299652,1104859,2017-06-04 12:18:32,2017-06-04 12:50:36,1924,Broadway & Ridge Ave,Lake Shore Dr & Wellington Ave,Subscriber,Female,1984.0,6,4
299663,1102527,2017-06-04 10:07:56,2017-06-04 10:11:27,211,Damen Ave & Augusta Blvd,Wood St & Division St,Subscriber,Male,1975.0,6,4
299798,1100410,2017-06-04 00:21:21,2017-06-04 00:47:03,1542,Wabash Ave & 8th St,Cityfront Plaza Dr & Pioneer Ct,Customer,NaN,NaN,6,4
299843,1112366,2017-06-04 17:33:31,2017-06-04 17:45:30,719,Loomis St & Lexington St,Halsted St & Polk St,Subscriber,Male,1995.0,6,4
299913,1108151,2017-06-04 14:35:48,2017-06-04 14:51:13,925,Field Museum,Canal St & Adams St,Customer,NaN,NaN,6,4

In [44]:
print('Which month - January, February, March, April, May, or June?')
Months = ['January', 'February', 'March', 'April','May', 'June']
month = input()
while month in Months :
    break
else :
    while True :
        print('Please enter month from this [\'January\', \'February\', \'March\', \'April\',\'May\', \'June\']')
        month = input('Enter month')
        if month in Months :
            break

Which month - January, February, March, April, May, or June?
jl
Please enter month from this ['January', 'February', 'March', 'April','May', 'June']
Enter monthgfg
Please enter month from this ['January', 'February', 'March', 'April','May', 'June']
Enter monthgsdfg
Please enter month from this ['January', 'February', 'March', 'April','May', 'June']
Enter monthJune

In [1]:
import time
import pandas as pd
import numpy as np

CITY_DATA = { 'chicago': 'chicago.csv',
              'new York': 'new_york_city.csv',
              'washington': 'washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # TO DO: get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    print('Would you like to see data for chicago, new York, or washington?')
    Citys = ['chicago','new York', 'washington']
    city = input()
    while city in Citys:
        break
    else :
        while True:
            print('Please enter city from this [\'chicago\',\'new York\', \'washington\']')
            city = input('Enter city ')
            if city in Citys:
                break
            
    # TO DO: get user input for month (all, january, february, ... , june)
    print('Which month - january, february, march, april, may, june, or all ?')
    Months = ['january', 'february', 'march', 'april','may', 'june', 'all']
    month = input()
    while month in Months :
        break
    else :
        while True :
            print('Please enter month from this [\'january\', \'february\', \'march\', \'april\',\'may\', \'june\',\'all\']')
            month = input('Enter month')
            if month in Months :
                break


    # TO DO: get user input for day of week (all, monday, tuesday, ... sunday)
    print('Which day - monday, tuesday, wednesday, thursday, friday, saturday, sunday, all?')
    Days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'all']
    day = input()
    while day in Days :
        break
    else :
        while True :
            print('Please enter day from this [\'monday\', \'tuesday\', \'wednesday\', \'thursday\',\'friday\', \'saturday\', \'sunday\', \'all\']')
            month = input('Enter day')
            if day in Days :
                break

    print('-'*40)
    return city, month, day
get_filters()

Hello! Let's explore some US bikeshare data!
Would you like to see data for chicago, new York, or washington?
chicago
Which month - january, february, march, april, may, june, or all ?
february
Which day - monday, tuesday, wednesday, thursday, friday, saturday, sunday, all?
monday
----------------------------------------

('chicago', 'february', 'monday')